.benefits {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .biscottofuori {
        display: none;
    }


    &-title {
        font-size: 40px;
    }

    #backimg {
        position: absolute;
        left: 35%;
        
        
        
        
        width: 500px;
    }

    &-box {
        
        align-items: center;
        display: flex;
        @include BlueDrop();
        padding: 30px;
        width: 80%;
        margin: 0 auto;
        border-radius: 15px;
        text-align: start;

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 17px;
            padding-bottom: 30px;
        }


        &-left, &-right, &-central {
            width: 33.3%; 
        }

    }

    


}