.last-chance {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 90%;
    margin: 0 auto;


    &-left {
        border-right: solid 2px white;
        p {
            padding-bottom: 30px;
            padding-right: 20px;
            font-size: 25px;
            font-weight: bold;
        }
    }


    &-right {
        h1 {
            color: #33FFD9;
            font-size: 40px;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 20px;
        }

        .right-options {
            display: flex;
            gap: 20px;

            .option {
                p {
                    width: 70%;
                }
                .optionbox {
                    @include BlueDrop();
                    border-radius: 15px;
                    text-align: center;
                    padding: 20px 5px;
                    a {
                        text-decoration: none;
                        padding: 10px;
                        border-radius: 15px;
                        
                    }

                    #opzione1 {
                        
                        color: black;
                        background: -webkit-linear-gradient(#1fdcaa,#e3770c);
                    }

                    #opzione2 {
                        color: white;
                        background-color: #FF0076;
                        
                    }
                }  
            }

            
        }
        img {
            padding: 20px;
            margin: 0 auto;
            
        }
    }
}

