.payments {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18em;
    flex-direction: column;


    h3 {
        padding-bottom: 50px;
        text-align: center;
        
    }
    
    
    .payments-container {
        display: flex;
        gap: 200px;
        
        

        .pay {
            padding: 20px;
            background: -webkit-linear-gradient(#1fdcaa,#e3770c);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 400px;

            .pay-title {
                text-align: center;
            }   
        }

        #rate {
            background: -webkit-linear-gradient(#d91297,#940cf5);
        }

        .pay-price-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 50px;

            #total-price {
                font-size: 48px;
                text-decoration: line-through;
                margin-bottom: 20px;
            }
            #new-price {
                font-size: 40px;
                margin-bottom: 20px;
            }
            #how-price {
                font-size: 15px;
            }
            #iva {
                font-size: 10px;
                margin-bottom: 20px;
            }
            #pay-info {
                font-size: 16px;
            }

            #pay-info2 {
                font-size: 16px;
                margin-bottom: 90px;
            }

            .register-link {
                position: absolute;
                top: 23em;
                padding: 20px 40px;
                @include BlueDrop();
                text-align: center;
                border-radius: 15px;
                p {
                    margin-top: 20px;
                    font-size: 12px;
                }
                a {
                    padding: 10px 30px;
                    background-color: pink;
                    border-radius: 15px;
                    text-decoration: none;
                    color: white;
                }

                #pre {
                    background: -webkit-linear-gradient(#1fdcaa,#e3770c);
                    color: black;
                }

                #now {
                   background-color: #FF0076; 
                }
            }
        }
  
    }

    .convinced {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include BlueDrop();
        border-radius: 15px;
        padding: 64px;
        

        .try-text {
            display: flex;
            text-align: center;

            &-content {
                padding: 0 100px;
            }
        }

        .try-img-box {
            display: none;
        }

        .media-try-box {
            position: absolute;
            top: 138px;
            @include BlueDrop();
            padding: 30px 50px;
            border-radius: 15px;
            
            
            
            
    
    
            a {
                display: flex;
                text-decoration: none;
                color: white;
                background-color: rgba(0, 0, 0, 0.67);
                backdrop-filter: blur(12px);
                padding: 10px 40px;
                border-radius: 15px;
                border: solid 2px white;
                margin: 0;
                text-align: center;
                align-items: center;
                margin: 0 auto;
                
                
            }

            i {
                padding-left: 10px;
            }
        }
    }



}

            
    
    
