.program {

    .topics-box {
        display: flex;
        margin: 0 auto;
        width: 80%;
        
        .topic {
            display: flex;
            color: white;
            background-color: rgba(128, 128, 128, 0.411);
            backdrop-filter: blur(12px);
            border-radius: 15px;
            padding: 20px;

            &-left {

                .tutor {
                    display: flex;
                    align-items: center;
                }
            }  
            
            &-right {
                background-color: rgb(157,38 ,193);
                border-radius: 15px;
                padding: 20px;
                
            }
        }
    }    
}


