//REVIEWS SECTION
@media screen and (max-width: 1300px) {

    .purple-ball-rec {
        grid-template-columns:2fr 2fr 2fr;
        #purpleb4 {
            display: none;
        }
    }
    
    
    .reviews {

        grid-template-columns: 2fr 2fr 2fr;

        #rev4 {
            display: none;
            
        }
    }
}

@media screen and (max-width: 900px) {

    .reviews-title {
        font-size: 24px;
    }

   .purple-ball-rec {
    grid-template-columns:3fr 3fr;
        #purpleb3 {
            display: none;
        }
   } 
    
    .reviews {

        grid-template-columns: 2fr 2fr;

        #rev3 {
            display: none;
            
        }
    }
}

@media screen and (max-width: 600px) {

    .reviews-title {
        font-size: 24px;
    }
    
   .purple-ball-rec {
    grid-template-columns:1fr;
        #purpleb2 {
            display: none;
        }
   } 
    .reviews {

        grid-template-columns: 2fr;

        #rev2 {
            display: none;
            
        }
    }
}