
.reviews-title {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
}

.purple-ball-rec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}


.reviews {

    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    bottom: 170px;
    
    color: white;
    
    
    &-box {
        border-radius: 15px;
        margin: 0 40px;
        padding: 20px;
        text-align: left;

        .user {
            width: 50px;
        }


    }
    
    
}

