
.reviews-title {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
}

.purple-ball-rec {
    display: none;

    
    
}


.reviews {

    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    color: white;
    
    
    
    
    &-box {
        background: gray;
        border-radius: 15px;
        margin: 0 40px;
    }
    
    
}

