
.techjob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    color: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    
    
    #tech-title {
        text-align: center;
        padding-bottom: 20px;
    }


    
    
    #gemma-blu-grande {
        z-index: 3;
        position: absolute;
        left: -29%;
        bottom: 45%;
    
    }

    #gemma-verde {
        z-index: 1;
        position: absolute;
        left: 70%;
        bottom: 55%;
        
    }

    #gemma-blu-piccola {
        position: absolute;
        bottom: 55%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 3;
    }


    .flextech-container {
        z-index: 2;
        display: flex;
        align-items: center;
        margin: 0 auto;
        background: rgba(128, 128, 128, 0.499);
        backdrop-filter: blur(12px);
        padding: 30px;
        border-radius: 15px;
        width: 80%;
        
        

        .columns-tech-container {
            display: flex;
            align-items: center;
            
            
            
            
            

            .column {
                width:max-content;
                .tj-info {
                    h2 {
                        padding-bottom: 20px;
                    }

                    p {
                        padding-bottom: 20px;
                        width: 50%;
                        
                    }
                }
            }
        }

        .tech-you {
            text-align: start;
            width: 40%;
        
            .cristal-container {
                display: none;
            }
        }
        
    }
}