.techjob {
    color: white;
    padding-top: 100px;
    background: url(/img/cristallo2.png) no-repeat;
        background-position: top right;
    &-italia {
        text-align: center;
        h1 {
            padding-bottom: 30px;
        }
        

        &-info {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 30px;
            background-color: rgba(128, 128, 128, 0.55);
            backdrop-filter: blur(12px);
            border-radius: 15px;
            margin: 0 auto;
            width: 80%;

            
            .tj-flex {
                display: flex;
                width: 100%;
                .tj-info {
                    margin: 0;
                    width: 70%;
                    text-align: start;
                    h2 {
                        padding-bottom: 20px;
                    }
                    

                    #tj-info-space {
                        padding-bottom: 50px;
                    }
                }
            }
            #right-tj-info {
                text-align: start;
                width: 70%;
                h2 {
                    padding-bottom: 20px;
                }
                
            }
        }
        #cristal1 {
            position: relative;
            bottom: 100px;
                  
        } 

    }

   .cristallo2 {
    width: 1000px;
    position: relative;
    bottom: 900px;
    right: 425px;
    transform: rotate(10deg);
   }
    
   .cristallo-media {
       display: none;     
    }
}