* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.navbar-links {
  display: flex;
  gap: 30px;
}
.navbar-links a {
  padding: 5px 28px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  width: 200px;
  text-align: center;
}
.navbar-links #candidati {
  background: #ff00b5;
}
.navbar-links #signup {
  border: solid 2px #ff00b5;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.hero-left {
  color: white;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
}
.hero-left h1 {
  font-size: 60px;
  font-weight: bolder;
}
.hero-left #programmer {
  color: #2D85D3;
}
.hero-left #complete {
  color: #313ACE;
}
.hero-left .hero-title {
  padding-bottom: 30px;
}
.hero-left .hero-paragraph {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 30px;
}
.hero-left .hero-paragraph p {
  padding-bottom: 15px;
}
.hero-left .hero-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-left .hero-links .bigball {
  width: 136px;
  position: relative;
  bottom: 203px;
  left: 30px;
}
.hero-left .hero-links .hero-links-box {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.585);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 30px;
  margin: 0 auto;
  z-index: 5;
}
.hero-left .hero-links .hero-links-box .candidati-container {
  display: flex;
}
.hero-left .hero-links a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  text-align: center;
  width: 210px;
  font-weight: bold;
  padding: 10px;
}
.hero-left .hero-links #hero-candidatura {
  background-color: #FF00AF;
}
.hero-left .hero-links #hero-candidatura:hover {
  -webkit-animation-name: colorshine;
          animation-name: colorshine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes colorshine {
  25% {
    background-color: #FF00AF;
  }
  50% {
    background-color: rgb(172, 91, 147);
  }
  75% {
    background-color: rgb(131, 14, 94);
  }
}
@keyframes colorshine {
  25% {
    background-color: #FF00AF;
  }
  50% {
    background-color: rgb(172, 91, 147);
  }
  75% {
    background-color: rgb(131, 14, 94);
  }
}
.hero-left .hero-links #hero-consulenza {
  background-color: #3371FF;
  margin-left: 150px;
}
.hero-left .hero-links #hero-consulenza:hover {
  -webkit-animation-name: colorshine;
          animation-name: colorshine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@keyframes colorshine {
  25% {
    background-color: #3371FF;
  }
  50% {
    background-color: #6377a5;
  }
  75% {
    background-color: #13388c;
  }
}
.hero-right #dice2 {
  display: none;
}

.benefits {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.benefits .biscottofuori {
  display: none;
}
.benefits-title {
  font-size: 40px;
}
.benefits #backimg {
  position: absolute;
  left: 35%;
  width: 500px;
}
.benefits-box {
  align-items: center;
  display: flex;
  background-color: rgba(128, 128, 128, 0.318);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  text-align: start;
}
.benefits-box h3 {
  font-size: 30px;
}
.benefits-box p {
  font-size: 17px;
  padding-bottom: 30px;
}
.benefits-box-left, .benefits-box-right, .benefits-box-central {
  width: 33.3%;
}

.reviews-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
}

.purple-ball-rec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reviews {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  bottom: 170px;
  color: white;
}
.reviews-box {
  background: rgba(128, 128, 128, 0.52);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px;
  margin: 0 40px;
  padding: 20px;
  text-align: left;
}
.reviews-box .user {
  width: 50px;
}

.road {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.road-left {
  color: white;
  width: 30%;
}
.road-left h1 {
  font-size: 40px;
}
.road-left p {
  font-size: 17px;
}
.road-left span {
  color: #FF0076;
}
.road-right {
  margin: 0 auto;
}

.program {
  position: relative;
  bottom: 150px;
}
.program-background {
  position: absolute;
}
.program .topics-box {
  position: relative;
  top: 200px;
  display: flex;
  margin: 0 auto;
  width: 90%;
  gap: 30px;
}
.program .topics-box .topic {
  display: flex;
  color: white;
  background-color: rgba(128, 128, 128, 0.411);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 20px;
}
.program .topics-box .topic-left {
  width: 60%;
  padding-right: 50px;
}
.program .topics-box .topic-left .tutor {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.program .topics-box .topic-left .tutor p {
  font-size: 18px;
}
.program .topics-box .topic #box-andrea {
  background-color: rgba(157, 38, 193, 0.494);
}
.program .topics-box .topic #box-andrea #andrea-ball {
  background-color: rgba(202, 3, 146, 0.696);
}
.program .topics-box .topic #box-samuel {
  background-color: rgba(193, 27, 146, 0.686);
}
.program .topics-box .topic #box-samuel #samuel-ball {
  background-color: rgb(162, 3, 202);
}
.program .topics-box .topic #box-davide {
  background-color: rgba(23, 118, 190, 0.516);
}
.program .topics-box .topic #box-davide #davide-ball {
  background-color: rgb(3, 166, 202);
}
.program .topics-box .topic-right {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 20px;
  width: 40%;
}
.program .topics-box .topic-right .tutor-title {
  display: none;
}
.program .topics-box .topic-right .duration p {
  background: rgba(0, 0, 0, 0.502);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 3px;
}
.program .topics-box .topic-right .randomball {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 100%;
}
.program .topics-box .topic-right .randomball p {
  margin-top: 50px;
  opacity: 0%;
  padding: 50px;
}

.payments {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18em;
  flex-direction: column;
}
.payments h3 {
  padding-bottom: 50px;
}
.payments .payments-container {
  display: flex;
  gap: 200px;
}
.payments .payments-container .pay {
  padding: 20px;
  background: -webkit-linear-gradient(#1fdcaa, #e3770c);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 400px;
}
.payments .payments-container .pay .pay-title {
  text-align: center;
}
.payments .payments-container #rate {
  background: -webkit-linear-gradient(#d91297, #940cf5);
}
.payments .payments-container .pay-price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: rgba(128, 128, 128, 0.504);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 50px;
}
.payments .payments-container .pay-price-box #total-price {
  font-size: 48px;
  text-decoration: line-through;
  margin-bottom: 20px;
}
.payments .payments-container .pay-price-box #new-price {
  font-size: 40px;
  margin-bottom: 20px;
}
.payments .payments-container .pay-price-box #how-price {
  font-size: 15px;
}
.payments .payments-container .pay-price-box #iva {
  font-size: 10px;
  margin-bottom: 20px;
}
.payments .payments-container .pay-price-box #pay-info {
  font-size: 16px;
}
.payments .payments-container .pay-price-box #pay-info2 {
  font-size: 16px;
  margin-bottom: 90px;
}
.payments .payments-container .pay-price-box .register-link {
  position: absolute;
  top: 23em;
  padding: 20px 40px;
  background-color: rgba(67, 67, 67, 0.697);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  text-align: center;
  border-radius: 15px;
}
.payments .payments-container .pay-price-box .register-link p {
  margin-top: 20px;
  font-size: 12px;
}
.payments .payments-container .pay-price-box .register-link a {
  padding: 10px 30px;
  background-color: pink;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}
.payments .payments-container .pay-price-box .register-link #pre {
  background: -webkit-linear-gradient(#1fdcaa, #e3770c);
  color: black;
}
.payments .payments-container .pay-price-box .register-link #now {
  background-color: #FF0076;
}
.payments .convinced {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.458);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 64px;
}
.payments .convinced .try-text {
  display: flex;
  text-align: center;
}
.payments .convinced .try-text-content {
  padding: 0 100px;
}
.payments .convinced .try-img-box {
  display: none;
}
.payments .convinced .try-now-box {
  position: absolute;
  top: 138px;
  background-color: rgba(128, 128, 128, 0.509);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 30px 50px;
  border-radius: 15px;
}
.payments .convinced .try-now-box a {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.67);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 10px 40px;
  border-radius: 15px;
  border: solid 2px white;
}
.payments .media-try-box {
  display: none;
}

@media screen and (max-width: 700px) {
  #candidati {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .hero-right #dice {
    display: none;
  }
  .hero-right #dice2 {
    display: block;
  }
}
@media screen and (max-width: 870px) {
  .hero {
    display: flex;
    flex-direction: column;
    background: url(/img/heroquery.png) no-repeat;
    background-position: right bottom;
  }
  .hero-left h1 {
    font-size: 44px;
  }
  .hero-left .hero-links .bigball {
    position: relative;
    left: 5px;
  }
  .hero #dice2 {
    display: none;
  }
}
@media screen and (max-width: 1600px) {
  .benefits-box-central .biscotto {
    width: 300px;
  }
}
@media screen and (max-width: 1370px) {
  .benefits-box-central .biscotto {
    width: 250px;
  }
}
@media screen and (max-width: 900px) {
  .benefits {
    background: url(/img/biscotto.png) no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .benefits #backimg {
    display: none;
  }
  .benefits-title {
    font-size: 24px;
  }
  .benefits .biscottofuori {
    width: 200px;
    display: block;
    position: relative;
    bottom: 60px;
  }
  .benefits-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
  }
  .benefits-box h3 {
    width: 300px;
  }
  .benefits-box-left, .benefits-box-right {
    width: 100%;
  }
  .benefits-box-central .biscotto {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .purple-ball-rec {
    grid-template-columns: 2fr 2fr 2fr;
  }
  .purple-ball-rec #purpleb4 {
    display: none;
  }
  .reviews {
    grid-template-columns: 2fr 2fr 2fr;
  }
  .reviews #rev4 {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .reviews-title {
    font-size: 24px;
  }
  .purple-ball-rec {
    grid-template-columns: 3fr 3fr;
  }
  .purple-ball-rec #purpleb3 {
    display: none;
  }
  .reviews {
    grid-template-columns: 2fr 2fr;
  }
  .reviews #rev3 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .reviews-title {
    font-size: 24px;
  }
  .purple-ball-rec {
    grid-template-columns: 1fr;
  }
  .purple-ball-rec #purpleb2 {
    display: none;
  }
  .reviews {
    grid-template-columns: 2fr;
  }
  .reviews #rev2 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .road-right {
    display: none;
  }
  .road-left {
    width: 70%;
  }
}
@media screen and (max-width: 1670px) {
  .program {
    display: flex;
    justify-content: flex-end;
  }
  .program-background #background2 {
    display: none;
  }
}
@media screen and (max-width: 1600px) {
  .program {
    display: flex;
    justify-content: flex-end;
  }
  .program-background #background1 {
    display: none;
  }
  .program .topics-box #davide {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .program .topics-box {
    width: 60%;
  }
  .program .topics-box #samuel {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .program .topics-box {
    display: flex;
    justify-content: center;
  }
  .program .topics-box #samuel {
    display: block;
  }
  .program .topics-box #davide {
    display: block;
  }
  .program .topics-box .topic-left {
    display: none;
  }
  .program .topics-box .topic-right {
    width: 100%;
  }
  .program .topics-box .topic-right .tutor-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  .program .topics-box .topic-right .randomball p {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 700px) {
  .program .topics-box #davide {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .program .topics-box #samuel {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .payments .payments-container {
    display: flex;
    flex-direction: column;
  }
  .payments .convinced {
    margin: 200 auto;
  }
  .payments .convinced .try-text img {
    display: none;
  }
  .payments .convinced .try-img-box {
    display: block;
    padding: 30px 0;
  }
  .payments .convinced .try-now-box {
    position: absolute;
    top: 258px;
  }
}
@media screen and (max-width: 915px) {
  .convinced {
    width: 70%;
  }
  .convinced .try-now-box {
    display: none;
  }
  .media-try-box {
    display: block;
    position: relative;
    bottom: 65px;
    background-color: rgba(128, 128, 128, 0.509);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    padding: 30px 50px;
    border-radius: 15px;
  }
  .media-try-box a {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.67);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    padding: 10px 40px;
    border-radius: 15px;
    border: solid 2px white;
  }
}/*# sourceMappingURL=style.css.map */