*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Roboto', sans-serif;
}
@import "utility.scss";

@import "navbar";

@import "hero";

@import "benefits";

@import "media-query";