* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.navbar-links {
  display: flex;
  gap: 30px;
}
.navbar-links a {
  padding: 5px 28px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  width: 200px;
  text-align: center;
}
.navbar-links #candidati {
  background: #ff00b5;
}
.navbar-links #signup {
  border: solid 2px #ff00b5;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.hero-left {
  color: white;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
}
.hero-left h1 {
  font-size: 60px;
  font-weight: bolder;
}
.hero-left .hero-title {
  padding-bottom: 30px;
}
.hero-left .hero-paragraph {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 30px;
}
.hero-left .hero-paragraph p {
  padding-bottom: 15px;
}
.hero-left .hero-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-left .hero-links .bigball {
  width: 136px;
  position: relative;
  bottom: 203px;
  left: 30px;
}
.hero-left .hero-links .hero-links-box {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.585);
  border-radius: 15px;
  padding: 30px;
  margin: 0 auto;
  z-index: 5;
}
.hero-left .hero-links .hero-links-box .candidati-container {
  display: flex;
}
.hero-left .hero-links a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  text-align: center;
  width: 210px;
  font-weight: bold;
  padding: 10px;
}
.hero-left .hero-links #hero-candidatura {
  background-color: #FF00AF;
}
.hero-left .hero-links #hero-candidatura:hover {
  -webkit-animation-name: colorshine;
          animation-name: colorshine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes colorshine {
  25% {
    background-color: #FF00AF;
  }
  50% {
    background-color: rgb(172, 91, 147);
  }
  75% {
    background-color: rgb(131, 14, 94);
  }
}
@keyframes colorshine {
  25% {
    background-color: #FF00AF;
  }
  50% {
    background-color: rgb(172, 91, 147);
  }
  75% {
    background-color: rgb(131, 14, 94);
  }
}
.hero-left .hero-links #hero-consulenza {
  background-color: #3371FF;
  margin-left: 150px;
}
.hero-left .hero-links #hero-consulenza:hover {
  -webkit-animation-name: colorshine;
          animation-name: colorshine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@keyframes colorshine {
  25% {
    background-color: #3371FF;
  }
  50% {
    background-color: #6377a5;
  }
  75% {
    background-color: #13388c;
  }
}
.hero-right #dice2 {
  display: none;
}

.benefits {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.benefits .biscottofuori {
  display: none;
}
.benefits-title {
  font-size: 40px;
}
.benefits-box {
  align-items: center;
  display: flex;
  background: #6e6d6d;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  text-align: start;
}
.benefits-box h3 {
  font-size: 30px;
}
.benefits-box p {
  font-size: 17px;
  padding-bottom: 30px;
}
.benefits-box-left, .benefits-box-right, .benefits-box-central {
  width: 33.3%;
}

.reviews-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
}

.purple-ball-rec {
  display: none;
}

.reviews {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  color: white;
}
.reviews-box {
  background: gray;
  border-radius: 15px;
  margin: 0 40px;
}

@media screen and (max-width: 700px) {
  #candidati {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .hero-right #dice {
    display: none;
  }
  .hero-right #dice2 {
    display: block;
  }
}
@media screen and (max-width: 870px) {
  .hero {
    display: flex;
    flex-direction: column;
    background: url(/img/heroquery.png) no-repeat;
    background-position: right bottom;
  }
  .hero-left h1 {
    font-size: 44px;
  }
  .hero-left .hero-links .bigball {
    position: relative;
    left: 5px;
  }
  .hero #dice2 {
    display: none;
  }
}
@media screen and (max-width: 1600px) {
  .benefits-box-central .biscotto {
    width: 300px;
  }
}
@media screen and (max-width: 1370px) {
  .benefits-box-central .biscotto {
    width: 250px;
  }
}
@media screen and (max-width: 900px) {
  .benefits {
    background: url(/img/biscotto.png) no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .benefits-title {
    font-size: 24px;
  }
  .benefits .biscottofuori {
    width: 200px;
    display: block;
    position: relative;
    bottom: 60px;
  }
  .benefits-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
  }
  .benefits-box h3 {
    width: 300px;
  }
  .benefits-box-left, .benefits-box-right {
    width: 100%;
  }
  .benefits-box-central .biscotto {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */