*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/img/backimg.jpg);
    font-family: 'Roboto', sans-serif;
}
@import "utility.scss";

@import "hover_effects";

@import "navbar";

@import "hero";

@import "benefits";

@import "reviews";

@import "road";

@import "program";

@import "payments";

@import "techjob";

@import "lastchance";

@import "footer";

@import "media-query";