@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin BlueDrop {
    background-color: rgba(36, 36, 36, 0.517);
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}

@mixin yHover {
    -moz-box-shadow:    inset 0 0 20px ;
    -webkit-box-shadow: inset 0 0 20px ;
    box-shadow:         inset 0 0 20px ;
    animation-name: yhover;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    @keyframes yhover {
        from {
    -moz-box-shadow:    inset 0 0 10px yellow ;
    -webkit-box-shadow: inset 0 0 10px yellow ;
    box-shadow:         inset 0 0 10px yellow ;
        }
        to {
    -moz-box-shadow:    inset 0 0 30px yellow ;
    -webkit-box-shadow: inset 0 0 30px yellow ;
    box-shadow:         inset 0 0 30px yellow ;
        }
    }
}


//hero hover
@mixin heroDrop {
    background-color: #9587f17e;
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}





//Benefits background and hover

@mixin benefitsDrop {
    background-color: #f3d7a868;
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}




//Reviews background and hover

@mixin reviewsDrop {
    background: -webkit-linear-gradient(#470cad77, rgba(205, 100, 8, 0.466));
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}



//topic

@mixin topicDrop {
    background-color: #8c3fd87d;
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}



//Payments

@mixin payDrop1 {
    background-color: #e4861261;
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}



@mixin payDrop2 {
    background-color: #970cee75;
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}



//Techjob 
@mixin techDrop {
    background: -webkit-linear-gradient(#5ac3cb9d, #67d68191);
    backdrop-filter: blur(12px);
    -moz-box-shadow:    inset 0 0 10px #ececec;
    -webkit-box-shadow: inset 0 0 10px #f3f3f3;
    box-shadow:         inset 0 0 10px #f0f0f0;
}

